<%-include ("../partials/header.ejs") %>
<body>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight<br />#</th>
          <th>Departure</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(flight => { %>

        <tr class=<%= flight.past? 'past':'' %>>
          <td><%= flight.airline %> <%= flight.past %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">View</a></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
