<%- include('../partials/header') %>
<body>
  <div class="main">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport</div>
    <div><%= flight.airport %></div>
    <div>Flight<br />#</div>
    <div><%= flight.flightNo %></div>
    <div>Departure</div>
    <div><%= flight.departs %></div>
  </div>
</body>
