<%- include('../partials/header') %>
<body>
  <div class="main">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport</div>
    <div><%= flight.airport %></div>
    <div>Flight<br />#</div>
    <div><%= flight.flightNo %></div>
    <div>Departure</div>
    <div><%= flight.departs %></div>
  </div>
  <form
    id="add-destination-form"
    method="POST"
    action="/flights/<%= flight._id %>/flights"
  >
    <label>Destination:</label>
    <select name="airport">
      <option value="IAH">Houston (IAH)</option>
      <option value="AUS">Austin (AUS)</option>
      <option value="DFW">Dallas (DFW)</option>
      <option value="DEN">Denver (DEN)</option>
      <option value="LAX">Los Angeles (LAX)</option>
      <option value="SAN">San Diego (SAN)</option>
      <option value="VCP">Viracopos (VCP)</option>
      <option value="FLL">Fort Lauderdale (FLL)</option>
      <option value="MIA">Miami (MIA)</option>
    </select>
    <input type="submit" value="Add destination" />
  </form>
</body>
