<%- include('../partials/header') %>
<body>
  <!-- The flight object is render here -->
  <div class="main">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport</div>
    <div><%= flight.airport %></div>
    <div>Flight<br />#</div>
    <div><%= flight.flightNo %></div>
    <div>Departure</div>
    <div><%= flight.departs %></div>
  </div>

  <!-- Form to add a destination to the flight -->
  <form
    id="add-destination-form"
    method="POST"
    action="/flights/<%= flight._id %>/destinations"
  >
    <label>Destination:</label>

    <select name="airport">
      <% airports.forEach(a => { %>
      <option value="<%= a.code %>"><%= a.name%></option>
      <% }) %>
    </select>

    <label>Arrival</label>
    <input type="datetime-local" name="arrival" />
    <input type="submit" value="Add destination" />
  </form>

  <!-- Form to render the destinations of the flight -->
  <% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Destination</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
      <tr>
        <!-- .toLocaleDateString() provides a more friendly date format -->

        <td><%= d.airport %></td>
        <td><%= d.arrival.toLocaleString() %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <h5>No Destinations Available for this location</h5>
  <% } %>
</body>
